opal/build/
opal/test

ppcg/

test_ppcg/build/

loopTransform/build/

loopTranform/Makefile.local

isl_hello

ISL_transform/isl_hello
ISL_transform/isl_hello.db

ISL_transform/debug_obj/
ISL_transform/release_obj/
ISL_transform/.depend

*.swp

# A directory for test, debugs and things that should
# not be pushed
trash/
